<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-wrap: wrap;">
    <ion-card *ngFor="let item of cardList"> 
      <ion-card-content>
        <app-product-card [productInfo]="item"></app-product-card>
        <ion-button expand="full" color="danger" (click)="deleteCart(item.id)">Eliminar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
