<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated [(ngModel)]="searchText" (ionChange)="search()" placeholder="Buscar producto"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div style="display: flex; flex-wrap: wrap;">

    <app-product-card 
      *ngFor="let item of productsList | filtro: searchText"
      routerLink="/product/{{item.id}}"
      [productInfo]="item"
    >
    </app-product-card>
    
  </div>
</ion-content>
